<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System Admin Page</title>
</head>
<body>
<form method="GET" th:action="@{/}">
    <button style="width: 170px; height: 25px; float: right">exit</button>
</form>
<br>
<div style="text-align: center;">
    <h1>Banking system control page</h1>
</div>
<br><br><br><br><br><br><br><br><br>
<form method="GET" th:action="@{/admin/banks}">
    <div style="text-align: center;">
        <button style="width: 400px; height: 40px; background-color: cornflowerblue">Manage banks</button>
    </div>
</form>
<br>
<form method="GET" th:action="@{/admin/accounts}">
    <div style="text-align: center;">
        <button style="width: 400px; height: 40px; background-color: cornflowerblue">Manage accounts</button>
    </div>
</form>
<br>
<form method="GET" th:action="@{/admin/clients}">
    <div style="text-align: center;">
        <button style="width: 400px; height: 40px; background-color: cornflowerblue">Manage clients</button>
    </div>
</form>
</body>
</html>