<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<form method="GET" th:action="@{/}">
    <button style="width: 170px; height: 25px; float: right">exit</button>
</form>
<br><br><br><br><br><br><br>
<div style="text-align: center;">
    <h1>Registration</h1>
    <form method="POST" th:action="@{/signUp}" th:object="${client}">
        <label for="clientName">
            <span style="color: red; ">*</span>Name:
        </label>
        <br>
        <label>
            <input th:field="*{name}" type="text" id="nameInput" onkeyup="success()"/>
        </label><br>
        <label for="clientSurname">
            <span style="color: red; ">*</span>Surname:
        </label>
        <br>
        <label>
            <input th:field="*{surname}" type="text" id="surnameInput" onkeyup="success()"/>
        </label>
        <br>
        <label for="clientPassport">Passport:</label>
        <br>
        <label>
            <input th:field="*{passport}" type="text"/>
        </label>
        <br>
        <label for="clientAddress">Address:</label>
        <br>
        <label>
            <input th:field="*{address}" type="text"/>
        </label>
        <br><br>
        <button id="button" disabled style="width: 170px; height: 25px; background-color: cornflowerblue">register
        </button>
        <br><br><br>
        <span style="color: red; ">* </span>
        <a>mandatory field</a>
    </form>
</div>
<script>
    function success() {
        document.getElementById('button').disabled = !check();
    }

    function check() {
        if (document.getElementById("nameInput").value === "") {
            return false;
        } else if (document.getElementById("surnameInput").value === "") {
            return false;
        }
        return true;
    }
</script>
</body>
</html>