<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankingSystem</title>
</head>
<body>
<br><br><br><br><br><br><br>
<center><h1>Sign In</h1></center>
<form method="POST" th:action="@{/banks}">
    <center><a>Your id:</a><br>
        <input type="text" name="clientId" th:href="*{clientId}" id="clientId" onkeyup="check()"/><br><br>
        <button id="signInButton" disabled style="width: 150px; height: 25px; background-color: cornflowerblue">signIn
        </button>
    </center>
</form>
<form method="GET" th:action="@{/signUp}">
    <center><h4>I don't have an account</h4>
        <button style="width: 150px; height: 25px; background-color: cornflowerblue">registration</button>
    </center>
</form>
<script>
    function check() {
        if (typeof parseInt(document.getElementById("clientId").value) == "number" && document.getElementById("clientId").value >= 700000000 && document.getElementById("clientId").value < 800000000) {
            document.getElementById("signInButton").disabled = false
        } else {
            document.getElementById("signInButton").disabled = true
        }
    }
</script>
</body>
</html>