<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<form method="GET" th:action="@{/admin/banks}">
    <button style="width: 170px; height: 40px; float: right">return to manage banks page</button>
</form>
<br><br><br>
<div style="text-align: center;">
    <h2>Create new bank</h2>
    <br><br>
    <form method="POST" th:action="@{/admin/banks/create}" th:object="${bank}">
        <label for="name">
            <span style="color: red; ">*</span>Name:
        </label>
        <br>
        <label>
            <input th:field="*{name}" type="text" id="nameInput" onkeyup="success()">
        </label>
        <br><br>
        <label for="creditPeriod">
            <span style="color: red; ">*</span>Enter credit period <br> (sec, >= 100):
        </label>
        <br>
        <label>
            <input th:field="*{creditPeriod}" type="text" id="creditPeriodInput" onkeyup="success()"/>
        </label>
        <br><br>
        <label for="interestCreditRate">
            <span style="color: red; ">*</span>Enter interest credit rate <br> (% / credit period):
        </label>
        <br>
        <label>
            <input th:field="*{interestCreditRate}" type="text" id="interestCreditRateInput" onkeyup="success()"/>
        </label>
        <br><br>
        <label for="creditLimit">
            <span style="color: red; ">*</span>Enter credit limit <br> ( >= 10000):
        </label>
        <br>
        <label>
            <input th:field="*{creditLimit}" type="text" id="creditLimitInput" onkeyup="success()"/>
        </label>
        <br><br>
        <label for="depositPeriod">
            <span style="color: red; ">*</span>Enter deposit period <br> (sec, >= 100):
        </label>
        <br>
        <label>
            <input th:field="*{depositPeriod}" type="text" id="depositPeriodInput" onkeyup="success()"/>
        </label>
        <br><br>
        <label for="interestDepositRate">
            <span style="color: red; ">*</span>Enter interest deposit rate <br> (% / deposit period):
        </label>
        <br>
        <label>
            <input th:field="*{interestDepositRate}" type="text" id="interestDepositRateInput" onkeyup="success()"/>
        </label>
        <br><br>
        <button id="button" disabled style="width: 170px; height: 25px; background-color: cornflowerblue">create
        </button>
    </form>
</div>
<script>
    function success() {
        document.getElementById('button').disabled = !check();
    }

    function check() {
        if (document.getElementById("nameInput").value === "") {
            return false;
        } else if (isNaN(parseInt(document.getElementById("creditPeriodInput").value)) || document.getElementById("creditPeriodInput").value < 100) {
            return false;
        } else if (isNaN(parseFloat(document.getElementById("interestCreditRateInput").value)) || document.getElementById("interestCreditRateInput").value <= 0) {
            return false;
        } else if (isNaN(parseInt(document.getElementById("creditLimitInput").value)) || document.getElementById("creditLimitInput").value < 10000) {
            return false;
        } else if (isNaN(parseInt(document.getElementById("depositPeriodInput").value)) || document.getElementById("depositPeriodInput").value < 100) {
            return false;
        } else if (isNaN(parseFloat(document.getElementById("interestDepositRateInput").value)) || document.getElementById("interestDepositRateInput").value <= 0) {
            return false;
        }
        return true;
    }
</script>
</body>
</html>