<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<form method="POST" th:action="@{/banks}">
    <input type="hidden" name="clientId" th:value="${client.clientId}"/>
    <button style="width: 170px; height: 25px; float: right">return to main catalog</button>
</form>
<br><br>
<center th:if="${banks.isEmpty()}">
    <h3>At the moment there are no banks in which you don't have accounts</h3>
</center>
<center th:if="${!banks.isEmpty()}">
    <h2>Choose a bank</h2>
    <table>
        <tr>
            <th th:text="'Name'" style="width: 110px; border-color: black; height: 30px" align="left"></th>
            <th th:text="'Credit period'" style="width: 130px; border-color: black; height: 30px" align="left"></th>
            <th th:text="'Interest credit rate'" style="width: 155px; border-color: black; height: 30px"
                align="left"></th>
            <th th:text="'Сredit limit'" style="width: 105px; border-color: black; height: 30px" align="left"></th>
            <th th:text="'Deposit period'" style="width: 125px; border-color: black; height: 30px" align="left"></th>
            <th th:text="'Interest deposit period'" style="width: 175px; border-color: black; height: 30px"
                align="left"></th>
        </tr>
        <tr th:each="bank : ${banks}">
            <form method="POST" th:action="@{/banks/add_bank/create_account}">
                <td th:text="${bank.name} " style="width: 100px; border-color: black; height: 30px"></td>
                <td th:text="${bank.creditPeriod}" style="width: 130px; border-color: black; height: 30px"></td>
                <td th:text="${bank.interestCreditRate}" style="width: 155px; border-color: black; height: 30px"></td>
                <td th:text="${bank.creditLimit} " style="width: 105px; border-color: black; height: 30px"></td>
                <td th:text="${bank.depositPeriod}" style="width: 125px; border-color: black; height: 30px"></td>
                <td th:text="${bank.interestDepositRate}" style="width: 175px; border-color: black; height: 30px"></td>
                <input type="hidden" name="bankId" th:value="${bank.bankId}"/>
                <input type="hidden" name="clientId" th:value="${client.clientId}"/>
                <td style="width: 100px; border-color: black; height: 30px">
                    <button style="background-color: cornflowerblue">choose</button>
                </td>
            </form>
        </tr>
    </table>
</center>
</body>
</html>