<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<center>
    <form method="GET" th:action="@{/admin/clients}">
        <button style="width: 170px; height: 25px; float: right">return to clients</button>
    </form>
    <br><br><br><br>
    <h3>Personal information</h3>
    <table>
        <tr>
            <td style="width: 100px; height: 25px">Name:</td>
            <td style="width: 100px; height: 25px" th:text="${client.name}"></td>
        </tr>
        <tr>
            <td style="width: 100px; height: 25px">Surname:</td>
            <td style="width: 100px; height: 25px" th:text="${client.surname}"></td>
        </tr>
        <tr>
            <td style="width: 100px; height: 25px">Passport:</td>
            <td style="width: 100px; height: 25px" th:text="${client.passport}"></td>
        </tr>
        <tr>
            <td style="width: 100px; height: 25px">Address:</td>
            <td style="width: 100px; height: 25px" th:text="${client.address}"></td>
        </tr>
    </table>
    <br>
    <form method="POST" th:action="@{/admin/clients/client/accounts}">
        <input type="hidden" name="clientId" th:value="${client.clientId}"/>
        <button style="width: 200px; height: 25px; background-color: cornflowerblue"
                th:text="${client.name} + '\'s bank accounts'"></button>
    </form>
</center>
</body>
</html>