<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<center><h2>Create new </h2></center>
<form method="POST" th:action="@{/banks/add_bank/create_account/success}" th:object="${account}">
    <input type="hidden" name="clientId" th:value="${client.clientId}"/>
    <input type="hidden" name="bankId" th:value="${bank.bankId}"/>
    <fieldset>
        <legend>Выберите тип аккаунта:</legend>
        <ul>
            <li>
                <input type="radio" th:field="*{type}" value="DEBIT" id="debit" />
                <label for="debit">Дебетовый</label>
            </li>
            <li>
                <input type="radio" th:field="*{type}" value="DEPOSIT" id="deposit" />
                <label for="deposit">Депозитный</label>
            </li>
            <li>
                <input type="radio" th:field="*{type}" value="CREDIT" id="credit" />
                <label for="credit">Кредитный</label>
            </li>
        </ul>
    </fieldset>
    <button>Создать</button>
</form>
</body>
</html>