<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankingSystem</title>
</head>
<body>
<h2></h2>
<form method="POST" th:action="@{/admin/banks/{id}/edit(id=${bank.bankId})}" th:object="${bank}">
    <br><br><br><br><br>
    <center>
        <h1 th:text="${bank.name}"></h1><br><br><br><br>
        <label for="interestRate">Enter interest rate:</label><br>
        <label>
            <input th:field="*{interestRate}" type="text"/>
        </label><br><br>
        <label for="name">Enter credit limit:</label><br>
        <label>
            <input th:field="*{creditLimit}" type="text"/>
        </label><br><br>
        <button style="width: 170px; height: 25px">update</button>
    </center>
</form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<form method="GET" th:action="@{/admin/banks}">
    <button style="width: 170px; height: 25px; float: right">exit</button>
</form>
</body>
</html>