<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankingSystem</title>
</head>
<body>
<br><br><br><br><br><br><br>
<center><h1>Sign In</h1></center>
<form method="POST" th:action="@{/signIn}">
    <center><a>Your id:</a><br>
        <input type="text" name="clientId" th:href="*{clientId}" />
    </center>
</form>
<form method="GET" th:action="@{/signUp}">
    <center><h4>I don't have an account</h4>
        <button style="width: 150px; height: 25px">registration</button>
    </center>
</form>
</body>
</html>