<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<form method="POST" th:action="@{/banks/accounts/account}">
    <input type="hidden" name="clientId" th:value="${clientId}"/>
    <input type="hidden" name="accountId" th:value="${accountId}"/>
    <input type="hidden" name="bankId" th:value="${bankId}"/>
    <button style="width: 100px; height: 30px; float: right" th:text="cancel"
            th:href="@{/banks/accounts/account}"></button>
</form>
<br><br><br><br><br><br><br><br><br><br><br>
<center>
    <h2>Top up</h2>
    <form method="POST" th:action="@{/banks/accounts/account/topUp}">
        <a>Enter top up amount:</a><br><br>
        <input type="text" name="amount" th:href="*{amount}" id="amount" onkeyup="check()"/><br><br>
        <input type="hidden" name="clientId" th:value="${clientId}"/>
        <input type="hidden" name="accountId" th:value="${accountId}"/>
        <input type="hidden" name="bankId" th:value="${bankId}"/>
        <button id="button" style="width: 150px; height: 25px" disabled>top up</button>
    </form>
</center>
<script>
    function check() {
        if (isNaN(document.getElementById("amount").value) ||
            document.getElementById("amount").value <= 0) {
            document.getElementById("button").disabled = true
        } else {
            document.getElementById("button").disabled = false
        }
    }
</script>
</body>
</html>