<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking System</title>
</head>
<body>
<form method="POST" th:action="@{/banks/accounts/account}">
    <input type="hidden" name="clientId" th:value="${clientId}"/>
    <input type="hidden" name="accountId" th:value="${accountId}"/>
    <input type="hidden" name="bankId" th:value="${bankId}"/>
    <button style="width: 100px; height: 30px; float: right" th:text="cancel"
            th:href="@{/banks/accounts/account}"></button>
</form>
<br><br><br><br><br><br><br><br>
<center>
    <h2>Transfer</h2>
    <form method="POST" th:action="@{/banks/accounts/account/transfer}">
        <a>Enter the recipient's account number:</a><br><br>
        <input id="recipientAccountId" type="text" name="recipientAccountId" th:href="*{recipientAccountId}"
               onkeyup="check()"/><br><br>
        <a>Enter withdraw amount:</a><br><br>
        <a th:text="'Balance: ' + ${#numbers.formatDecimal(balance, 1, 2)}"></a><br>
        <input id="amount" type="text" name="amount" th:href="*{amount}" onkeyup="check()"/><br><br>
        <input type="hidden" name="clientId" th:value="${clientId}"/>
        <input type="hidden" name="accountId" th:value="${accountId}"/>
        <input type="hidden" name="bankId" th:value="${bankId}"/>
        <button id="button" disabled style="width: 150px; height: 25px">make a transfer</button>
    </form>
</center>
<script>
    var balance = [[${balance}]];
    var creditLimit = [[${creditLimit}]]

    function check() {
        var amount = document.getElementById("amount").value
        var recipientAccountId = document.getElementById("recipientAccountId").value
        if (amount <= 0 ||
            amount > balance + creditLimit ||
            isNaN(parseFloat(amount))) {
            document.getElementById("button").disabled = true
        } else if (isNaN(parseInt(recipientAccountId)) ||
            recipientAccountId < 1000000000000000 ||
            recipientAccountId >= 10000000000000000) {
            document.getElementById("button").disabled = true
        } else {
            document.getElementById("button").disabled = false
        }
    }
</script>
</body>
</html>